.header {
  position: relative;
  background: var(--gray-700);
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  bottom: -1.625rem;
  display: flex;
  width: 100%;
  max-width: 46rem;
  padding-top: 3.3125rem;
  gap: 0.5rem;
}

nav input {
  width:39.875rem;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  background: var(--gray-500);
  outline: none;

  color: var(--gray-300);
  font-size: 1rem;
  font-weight: 400;
}

nav input:focus {
  border: 1px solid var(--purple);
  color: var(--gray-100);
}

nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 5.625rem;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--blue-dark);
  cursor: pointer;

  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.875rem;
}

nav button:hover {
  background: var(--blue);
}