.withouthTasks {
  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem 0.5rem 0 0;
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
}

.withouthTasks img {
  padding-bottom: 1rem;
}

.withouthTasks p:first-of-type {
  font-weight: bold;
}

.withouthTasks {
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
}

.taskBox, .taskBoxConcluded {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--gray-500);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  margin-top: 0.75rem;
}

.taskBox button, .taskBoxConcluded button {
  background: none;
  color: var(--blue);
  cursor: pointer;
  border: none;
}

.taskBoxConcluded button {
  color: var(--purple-dark);
}

.taskBox p, .taskBoxConcluded p {
  font-size: 0.875rem;
  color: var(--gray-100);
  margin: 0 0.75rem;
}

.taskBoxConcluded p {
  color: var(--gray-300);
}

.taskBoxConcluded p {
  text-decoration: line-through;
}

.taskBox .trashButton, .taskBoxConcluded .trashButton {
  color: var(--gray-300);
  cursor: pointer;
}

.taskBoxContent {
  width: 100%;
  display: flex;
  flex: row;
  justify-content: space-between;
}